*.cache
ThirdParty/OrionsSip/CommonSip/obj/Debug/Orions.Sip.Common.csproj.FileListAbsolute.txt
ThirdParty/OrionsSip/CommonSip/obj/
ThirdParty/OrionsSip/CoreSip/obj/
ThirdParty/OrionsSip/CoreSip/bin/Debug/Orions.Sip.Common.pdb
ThirdParty/OrionsSip/CoreSip/bin/
ThirdParty/OrionsSip/CommonSip/bin/
Orions/Orions.PolicyLint/.vs/
Orions/Orions.PolicyLint/bin/
Orions/Orions.PolicyLint/obj/
Orions/Orions.PolicyLint/packages/
ThirdParty/MongoDB/MongoDb/data/
ThirdParty/Build
Orions/Orions.Fiddle/packages/
Orions/Orions.Fiddle/.vs/
Orions/Orions.Fiddle/Orions.CSScript/bin/
Orions/Orions.Fiddle/Orions.CSScript/obj/
Orions/Orions.Fiddle/Orions.Fiddle.Console/bin/
Orions/Orions.Fiddle/Orions.Fiddle.Console/obj/
Orions/Orions.Fiddle/Orions.Fiddle/bin/
Orions/Orions.Fiddle/Orions.Fiddle/obj/
Orions/Orions.Fiddle/Orions.Fiddle/temp/
Orions/Orions.Fiddle/Orions.Fiddle/Orions.Fiddle.csproj.user
Orions/CS-Script/3.22.0/Bin/NuGet/v3-cache/
